<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fireExtinguisher.intelligence.yd.dao.DjPartyHistoryEducationInfoMapper">

  <resultMap id="BaseResultMap" type="com.fireExtinguisher.intelligence.yd.entity.DjPartyHistoryEducationInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="association_id" jdbcType="BIGINT" property="associationId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, association_id, title, content, status, publish_date, remarks,create_by, create_time, update_by, update_time,enabled
  </sql>

  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from dj_party_history_education_info
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="associationId != null">
        and association_id=#{associationId,jdbcType=BIGINT}
      </if>
      <if test="title != null">
        and title=#{title,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status=#{status,jdbcType=TINYINT}
      </if>
      <if test="publishDate != null">
        and publish_date=#{publishDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null">
        and create_by=#{createBy,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
        and update_by=#{updateBy,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="enabled != null">
        and enabled=#{enabled,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <delete id="deleteDjPartyHistoryEducationInfoById">
    UPDATE dj_party_history_education_info SET enabled=0 where id=#{id,jdbcType=BIGINT}
  </delete>
  <select id="getById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from dj_party_history_education_info
    where id=#{id,jdbcType=BIGINT}
  </select>

  <insert id="add" useGeneratedKeys="true" keyProperty="id">
    insert into dj_party_history_education_info(
      association_id,
      title,
      content,
      status,
      publish_date,
      remarks,
      create_by,
      create_time,
      update_by,
      update_time
    )
    values(
        #{associationId,jdbcType=BIGINT},
        #{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT},
        #{publishDate,jdbcType=TIMESTAMP},
        #{remarks,jdbcType=TINYINT},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}
          )
  </insert>

  <update id="updateById" parameterType="Map">
    update dj_party_history_education_info
    <set>
      <if test="title != null">
        title=#{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content=#{content,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        publish_date= #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks=#{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by=#{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time=#{updateTime,jdbcType=VARCHAR}
      </if>
    </set>
    where id= #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStatusById">
    update dj_party_history_education_info
    set status=#{status,jdbcType=TINYINT}
    where id=#{id,jdbcType=BIGINT}
  </update>

</mapper>